--
-- PostgreSQL database dump
--

\restrict wFkrenZZnghbt29GGA4zCfQN0lESbWOdOfmSPgiKEhpqLVxVvKkvtEvTFIqcHtP

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    user_id uuid,
    action character varying NOT NULL,
    entity_type character varying,
    entity_id uuid,
    ip inet,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE ONLY public.audit_log FORCE ROW LEVEL SECURITY;


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: collection_studies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collection_studies (
    collection_id uuid NOT NULL,
    study_id uuid NOT NULL,
    org_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE ONLY public.collection_studies FORCE ROW LEVEL SECURITY;


ALTER TABLE public.collection_studies OWNER TO postgres;

--
-- Name: collections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    name character varying NOT NULL,
    description character varying,
    is_private boolean DEFAULT true NOT NULL,
    owner_user_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE ONLY public.collections FORCE ROW LEVEL SECURITY;


ALTER TABLE public.collections OWNER TO postgres;

--
-- Name: context_studies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.context_studies (
    context_id uuid NOT NULL,
    study_id uuid NOT NULL,
    org_id uuid NOT NULL
);

ALTER TABLE ONLY public.context_studies FORCE ROW LEVEL SECURITY;


ALTER TABLE public.context_studies OWNER TO postgres;

--
-- Name: contexts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contexts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    visit_id uuid,
    mode character varying NOT NULL,
    name character varying,
    annotations jsonb,
    tool_state jsonb,
    last_modified timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid()
);

ALTER TABLE ONLY public.contexts FORCE ROW LEVEL SECURITY;


ALTER TABLE public.contexts OWNER TO postgres;

--
-- Name: implants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.implants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    context_id uuid NOT NULL,
    type character varying NOT NULL,
    fragment_id character varying,
    "position" jsonb,
    angle double precision,
    properties jsonb,
    "timestamp" bigint
);

ALTER TABLE ONLY public.implants FORCE ROW LEVEL SECURITY;


ALTER TABLE public.implants OWNER TO postgres;

--
-- Name: measurements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.measurements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    context_id uuid NOT NULL,
    tool_key character varying NOT NULL,
    fragment_id character varying,
    points jsonb,
    result jsonb,
    metadata jsonb,
    "timestamp" bigint
);

ALTER TABLE ONLY public.measurements FORCE ROW LEVEL SECURITY;


ALTER TABLE public.measurements OWNER TO postgres;

--
-- Name: memberships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.memberships (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role character varying NOT NULL
);

ALTER TABLE ONLY public.memberships FORCE ROW LEVEL SECURITY;


ALTER TABLE public.memberships OWNER TO postgres;

--
-- Name: orgs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orgs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    external_id character varying,
    name character varying NOT NULL,
    slug character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.orgs OWNER TO postgres;

--
-- Name: patients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    name character varying NOT NULL,
    age integer,
    gender character varying NOT NULL,
    dob character varying,
    contact character varying,
    last_visit character varying,
    has_alert boolean NOT NULL,
    is_archived boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid()
);

ALTER TABLE ONLY public.patients FORCE ROW LEVEL SECURITY;


ALTER TABLE public.patients OWNER TO postgres;

--
-- Name: pedicle_simulations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedicle_simulations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    context_id uuid NOT NULL,
    label character varying NOT NULL,
    landmarks jsonb,
    suggested_screw_l jsonb,
    suggested_screw_r jsonb,
    grading jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE ONLY public.pedicle_simulations FORCE ROW LEVEL SECURITY;


ALTER TABLE public.pedicle_simulations OWNER TO postgres;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    patient_id uuid,
    visit_id uuid,
    title character varying,
    storage_key character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid()
);

ALTER TABLE ONLY public.reports FORCE ROW LEVEL SECURITY;


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: scans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scans (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    study_id uuid NOT NULL,
    type character varying NOT NULL,
    date character varying,
    storage_key character varying,
    orthanc_series_uid character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid()
);

ALTER TABLE ONLY public.scans FORCE ROW LEVEL SECURITY;


ALTER TABLE public.scans OWNER TO postgres;

--
-- Name: studies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.studies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    visit_id uuid,
    modality character varying NOT NULL,
    source character varying NOT NULL,
    acquisition_date character varying,
    orthanc_study_uid character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid()
);

ALTER TABLE ONLY public.studies FORCE ROW LEVEL SECURITY;


ALTER TABLE public.studies OWNER TO postgres;

--
-- Name: three_d_implants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.three_d_implants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    context_id uuid NOT NULL,
    type character varying NOT NULL,
    "position" jsonb,
    direction jsonb,
    properties jsonb,
    level character varying,
    side character varying,
    simulation_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE ONLY public.three_d_implants FORCE ROW LEVEL SECURITY;


ALTER TABLE public.three_d_implants OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    subject character varying,
    email character varying,
    display_name character varying,
    title character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: visits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.visits (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    visit_number character varying,
    date character varying,
    "time" character varying,
    diagnosis character varying,
    comments character varying,
    height character varying,
    weight character varying,
    consultants character varying,
    surgery_date character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid()
);

ALTER TABLE ONLY public.visits FORCE ROW LEVEL SECURITY;


ALTER TABLE public.visits OWNER TO postgres;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
0003_report_patient
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: collection_studies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.collection_studies (collection_id, study_id, org_id, created_at) FROM stdin;
\.


--
-- Data for Name: collections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.collections (id, org_id, name, description, is_private, owner_user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: context_studies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.context_studies (context_id, study_id, org_id) FROM stdin;
a9ecb9e5-114c-4461-b209-1b923c705ca3	1252cf28-91a2-4b44-880e-6c3771394b4d	a815e0c6-24ed-45db-9632-17bc370081d9
\.


--
-- Data for Name: contexts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contexts (id, org_id, patient_id, visit_id, mode, name, annotations, tool_state, last_modified, created_at, uuid) FROM stdin;
a9ecb9e5-114c-4461-b209-1b923c705ca3	a815e0c6-24ed-45db-9632-17bc370081d9	d80b4224-c32c-4772-83f2-5c5211b7f268	\N	plan	Assessment	[]	{}	2026-06-10 15:50:55.999749+05:30	2026-06-10 15:50:55.999749+05:30	d1da5316-0691-4ac6-a2e5-f52850102192
\.


--
-- Data for Name: implants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.implants (id, org_id, context_id, type, fragment_id, "position", angle, properties, "timestamp") FROM stdin;
\.


--
-- Data for Name: measurements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.measurements (id, org_id, context_id, tool_key, fragment_id, points, result, metadata, "timestamp") FROM stdin;
26b4e23e-7855-4af8-8772-79eae0237a44	a815e0c6-24ed-45db-9632-17bc370081d9	a9ecb9e5-114c-4461-b209-1b923c705ca3	cobb	\N	[{"x": 316.73486682808715, "y": 1032.3363347457628}, {"x": 618.2845036319612, "y": 1032.3363347457628}, {"x": 38.38135593220343, "y": 839.0352855125101}, {"x": 741.9971751412429, "y": 1473.0627269975787}]	{}	{"name": "Cobb"}	1781090533759
\.


--
-- Data for Name: memberships; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.memberships (id, org_id, user_id, role) FROM stdin;
1dc9e7a1-77af-49ba-a325-ce374137bd69	046ab83b-35e6-46d9-b1a2-40f55dc5e5b1	577ad582-848b-4071-9a15-18118d417799	owner
bcc25f0f-6b03-401d-90eb-b7affce8b473	a815e0c6-24ed-45db-9632-17bc370081d9	895444a8-f35c-4675-8a2a-684b99f0bb36	surgeon
\.


--
-- Data for Name: orgs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orgs (id, external_id, name, slug, created_at) FROM stdin;
046ab83b-35e6-46d9-b1a2-40f55dc5e5b1	dev-org-1	Dev Hospital	\N	2026-06-10 11:18:56.003211+05:30
a815e0c6-24ed-45db-9632-17bc370081d9	spine-center	Spine Center	\N	2026-06-10 11:19:42.681754+05:30
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.patients (id, org_id, name, age, gender, dob, contact, last_visit, has_alert, is_archived, created_at, updated_at, uuid) FROM stdin;
d80b4224-c32c-4772-83f2-5c5211b7f268	a815e0c6-24ed-45db-9632-17bc370081d9	test	44	F	\N	\N	\N	f	f	2026-06-10 12:25:07.60807+05:30	2026-06-10 12:25:07.60807+05:30	56320573-4c04-4e8d-80dd-9c6f8625cfb3
\.


--
-- Data for Name: pedicle_simulations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pedicle_simulations (id, org_id, context_id, label, landmarks, suggested_screw_l, suggested_screw_r, grading, created_at) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports (id, org_id, patient_id, visit_id, title, storage_key, created_at, uuid) FROM stdin;
\.


--
-- Data for Name: scans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scans (id, org_id, study_id, type, date, storage_key, orthanc_series_uid, created_at, uuid) FROM stdin;
\.


--
-- Data for Name: studies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.studies (id, org_id, patient_id, visit_id, modality, source, acquisition_date, orthanc_study_uid, created_at, uuid) FROM stdin;
1252cf28-91a2-4b44-880e-6c3771394b4d	a815e0c6-24ed-45db-9632-17bc370081d9	d80b4224-c32c-4772-83f2-5c5211b7f268	\N	X-Ray	upload	\N	\N	2026-06-10 12:44:26.170359+05:30	b5ef0a80-9c00-468f-b9db-5918a6bdca47
\.


--
-- Data for Name: three_d_implants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.three_d_implants (id, org_id, context_id, type, "position", direction, properties, level, side, simulation_id, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, subject, email, display_name, title, created_at) FROM stdin;
577ad582-848b-4071-9a15-18118d417799	dev-user-1	dev@example.com	\N	\N	2026-06-10 11:18:56.003211+05:30
895444a8-f35c-4675-8a2a-684b99f0bb36	dev@spine.local	dev@spine.local	\N	\N	2026-06-10 11:19:42.681754+05:30
\.


--
-- Data for Name: visits; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.visits (id, org_id, patient_id, visit_number, date, "time", diagnosis, comments, height, weight, consultants, surgery_date, created_at, updated_at, uuid) FROM stdin;
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: collection_studies collection_studies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_studies
    ADD CONSTRAINT collection_studies_pkey PRIMARY KEY (collection_id, study_id);


--
-- Name: collections collections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collections
    ADD CONSTRAINT collections_pkey PRIMARY KEY (id);


--
-- Name: context_studies context_studies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.context_studies
    ADD CONSTRAINT context_studies_pkey PRIMARY KEY (context_id, study_id);


--
-- Name: contexts contexts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contexts
    ADD CONSTRAINT contexts_pkey PRIMARY KEY (id);


--
-- Name: implants implants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implants
    ADD CONSTRAINT implants_pkey PRIMARY KEY (id);


--
-- Name: measurements measurements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT measurements_pkey PRIMARY KEY (id);


--
-- Name: memberships memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_pkey PRIMARY KEY (id);


--
-- Name: orgs orgs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orgs
    ADD CONSTRAINT orgs_pkey PRIMARY KEY (id);


--
-- Name: orgs orgs_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orgs
    ADD CONSTRAINT orgs_slug_key UNIQUE (slug);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: pedicle_simulations pedicle_simulations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedicle_simulations
    ADD CONSTRAINT pedicle_simulations_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: scans scans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scans
    ADD CONSTRAINT scans_pkey PRIMARY KEY (id);


--
-- Name: studies studies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studies
    ADD CONSTRAINT studies_pkey PRIMARY KEY (id);


--
-- Name: three_d_implants three_d_implants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.three_d_implants
    ADD CONSTRAINT three_d_implants_pkey PRIMARY KEY (id);


--
-- Name: memberships uq_membership_org_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT uq_membership_org_user UNIQUE (org_id, user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: visits visits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT visits_pkey PRIMARY KEY (id);


--
-- Name: contexts_uuid_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX contexts_uuid_unique_idx ON public.contexts USING btree (uuid);


--
-- Name: ix_audit_log_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_audit_log_org_id ON public.audit_log USING btree (org_id);


--
-- Name: ix_collection_studies_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_collection_studies_org_id ON public.collection_studies USING btree (org_id);


--
-- Name: ix_collections_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_collections_org_id ON public.collections USING btree (org_id);


--
-- Name: ix_context_studies_context_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_context_studies_context_id ON public.context_studies USING btree (context_id);


--
-- Name: ix_context_studies_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_context_studies_org_id ON public.context_studies USING btree (org_id);


--
-- Name: ix_context_studies_study_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_context_studies_study_id ON public.context_studies USING btree (study_id);


--
-- Name: ix_contexts_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_contexts_org_id ON public.contexts USING btree (org_id);


--
-- Name: ix_contexts_patient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_contexts_patient_id ON public.contexts USING btree (patient_id);


--
-- Name: ix_contexts_visit_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_contexts_visit_id ON public.contexts USING btree (visit_id);


--
-- Name: ix_implants_context_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_implants_context_id ON public.implants USING btree (context_id);


--
-- Name: ix_implants_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_implants_org_id ON public.implants USING btree (org_id);


--
-- Name: ix_measurements_context_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_measurements_context_id ON public.measurements USING btree (context_id);


--
-- Name: ix_measurements_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_measurements_org_id ON public.measurements USING btree (org_id);


--
-- Name: ix_memberships_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_memberships_org_id ON public.memberships USING btree (org_id);


--
-- Name: ix_memberships_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_memberships_user_id ON public.memberships USING btree (user_id);


--
-- Name: ix_orgs_external_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_orgs_external_id ON public.orgs USING btree (external_id);


--
-- Name: ix_patients_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_patients_org_id ON public.patients USING btree (org_id);


--
-- Name: ix_pedicle_simulations_context_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedicle_simulations_context_id ON public.pedicle_simulations USING btree (context_id);


--
-- Name: ix_pedicle_simulations_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pedicle_simulations_org_id ON public.pedicle_simulations USING btree (org_id);


--
-- Name: ix_reports_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reports_org_id ON public.reports USING btree (org_id);


--
-- Name: ix_reports_patient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reports_patient_id ON public.reports USING btree (patient_id);


--
-- Name: ix_reports_visit_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reports_visit_id ON public.reports USING btree (visit_id);


--
-- Name: ix_scans_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_scans_org_id ON public.scans USING btree (org_id);


--
-- Name: ix_scans_study_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_scans_study_id ON public.scans USING btree (study_id);


--
-- Name: ix_studies_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_studies_org_id ON public.studies USING btree (org_id);


--
-- Name: ix_studies_patient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_studies_patient_id ON public.studies USING btree (patient_id);


--
-- Name: ix_studies_visit_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_studies_visit_id ON public.studies USING btree (visit_id);


--
-- Name: ix_three_d_implants_context_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_three_d_implants_context_id ON public.three_d_implants USING btree (context_id);


--
-- Name: ix_three_d_implants_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_three_d_implants_org_id ON public.three_d_implants USING btree (org_id);


--
-- Name: ix_three_d_implants_simulation_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_three_d_implants_simulation_id ON public.three_d_implants USING btree (simulation_id);


--
-- Name: ix_users_subject; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_subject ON public.users USING btree (subject);


--
-- Name: ix_visits_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_visits_org_id ON public.visits USING btree (org_id);


--
-- Name: ix_visits_patient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_visits_patient_id ON public.visits USING btree (patient_id);


--
-- Name: patients_uuid_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX patients_uuid_unique_idx ON public.patients USING btree (uuid);


--
-- Name: reports_uuid_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX reports_uuid_unique_idx ON public.reports USING btree (uuid);


--
-- Name: scans_uuid_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX scans_uuid_unique_idx ON public.scans USING btree (uuid);


--
-- Name: studies_uuid_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX studies_uuid_unique_idx ON public.studies USING btree (uuid);


--
-- Name: visits_uuid_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX visits_uuid_unique_idx ON public.visits USING btree (uuid);


--
-- Name: audit_log audit_log_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: collection_studies collection_studies_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_studies
    ADD CONSTRAINT collection_studies_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.collections(id) ON DELETE CASCADE;


--
-- Name: collection_studies collection_studies_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_studies
    ADD CONSTRAINT collection_studies_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: collection_studies collection_studies_study_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_studies
    ADD CONSTRAINT collection_studies_study_id_fkey FOREIGN KEY (study_id) REFERENCES public.studies(id) ON DELETE CASCADE;


--
-- Name: collections collections_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collections
    ADD CONSTRAINT collections_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: context_studies context_studies_context_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.context_studies
    ADD CONSTRAINT context_studies_context_id_fkey FOREIGN KEY (context_id) REFERENCES public.contexts(id) ON DELETE CASCADE;


--
-- Name: context_studies context_studies_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.context_studies
    ADD CONSTRAINT context_studies_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: context_studies context_studies_study_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.context_studies
    ADD CONSTRAINT context_studies_study_id_fkey FOREIGN KEY (study_id) REFERENCES public.studies(id) ON DELETE CASCADE;


--
-- Name: contexts contexts_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contexts
    ADD CONSTRAINT contexts_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: contexts contexts_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contexts
    ADD CONSTRAINT contexts_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id) ON DELETE CASCADE;


--
-- Name: contexts contexts_visit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contexts
    ADD CONSTRAINT contexts_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES public.visits(id) ON DELETE SET NULL;


--
-- Name: reports fk_reports_patient_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT fk_reports_patient_id FOREIGN KEY (patient_id) REFERENCES public.patients(id) ON DELETE CASCADE;


--
-- Name: implants implants_context_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implants
    ADD CONSTRAINT implants_context_id_fkey FOREIGN KEY (context_id) REFERENCES public.contexts(id) ON DELETE CASCADE;


--
-- Name: implants implants_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implants
    ADD CONSTRAINT implants_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: measurements measurements_context_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT measurements_context_id_fkey FOREIGN KEY (context_id) REFERENCES public.contexts(id) ON DELETE CASCADE;


--
-- Name: measurements measurements_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT measurements_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: memberships memberships_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: memberships memberships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: patients patients_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: pedicle_simulations pedicle_simulations_context_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedicle_simulations
    ADD CONSTRAINT pedicle_simulations_context_id_fkey FOREIGN KEY (context_id) REFERENCES public.contexts(id) ON DELETE CASCADE;


--
-- Name: pedicle_simulations pedicle_simulations_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedicle_simulations
    ADD CONSTRAINT pedicle_simulations_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: reports reports_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: reports reports_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id) ON DELETE CASCADE;


--
-- Name: reports reports_visit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES public.visits(id) ON DELETE SET NULL;


--
-- Name: scans scans_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scans
    ADD CONSTRAINT scans_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: scans scans_study_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scans
    ADD CONSTRAINT scans_study_id_fkey FOREIGN KEY (study_id) REFERENCES public.studies(id) ON DELETE CASCADE;


--
-- Name: studies studies_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studies
    ADD CONSTRAINT studies_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: studies studies_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studies
    ADD CONSTRAINT studies_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id) ON DELETE CASCADE;


--
-- Name: studies studies_visit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studies
    ADD CONSTRAINT studies_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES public.visits(id) ON DELETE SET NULL;


--
-- Name: three_d_implants three_d_implants_context_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.three_d_implants
    ADD CONSTRAINT three_d_implants_context_id_fkey FOREIGN KEY (context_id) REFERENCES public.contexts(id) ON DELETE CASCADE;


--
-- Name: three_d_implants three_d_implants_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.three_d_implants
    ADD CONSTRAINT three_d_implants_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: three_d_implants three_d_implants_simulation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.three_d_implants
    ADD CONSTRAINT three_d_implants_simulation_id_fkey FOREIGN KEY (simulation_id) REFERENCES public.pedicle_simulations(id) ON DELETE SET NULL;


--
-- Name: visits visits_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT visits_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.orgs(id) ON DELETE CASCADE;


--
-- Name: visits visits_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT visits_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id) ON DELETE CASCADE;


--
-- Name: audit_log; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.audit_log ENABLE ROW LEVEL SECURITY;

--
-- Name: collection_studies; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.collection_studies ENABLE ROW LEVEL SECURITY;

--
-- Name: collections; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.collections ENABLE ROW LEVEL SECURITY;

--
-- Name: context_studies; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.context_studies ENABLE ROW LEVEL SECURITY;

--
-- Name: contexts; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.contexts ENABLE ROW LEVEL SECURITY;

--
-- Name: implants; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.implants ENABLE ROW LEVEL SECURITY;

--
-- Name: measurements; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.measurements ENABLE ROW LEVEL SECURITY;

--
-- Name: memberships; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.memberships ENABLE ROW LEVEL SECURITY;

--
-- Name: patients; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.patients ENABLE ROW LEVEL SECURITY;

--
-- Name: pedicle_simulations; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.pedicle_simulations ENABLE ROW LEVEL SECURITY;

--
-- Name: reports; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.reports ENABLE ROW LEVEL SECURITY;

--
-- Name: scans; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.scans ENABLE ROW LEVEL SECURITY;

--
-- Name: studies; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.studies ENABLE ROW LEVEL SECURITY;

--
-- Name: audit_log tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.audit_log USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: collection_studies tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.collection_studies USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: collections tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.collections USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: context_studies tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.context_studies USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: contexts tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.contexts USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: implants tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.implants USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: measurements tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.measurements USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: memberships tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.memberships USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: patients tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.patients USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: pedicle_simulations tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.pedicle_simulations USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: reports tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.reports USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: scans tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.scans USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: studies tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.studies USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: three_d_implants tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.three_d_implants USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: visits tenant_isolation; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tenant_isolation ON public.visits USING ((org_id = (current_setting('app.current_org'::text, true))::uuid)) WITH CHECK ((org_id = (current_setting('app.current_org'::text, true))::uuid));


--
-- Name: three_d_implants; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.three_d_implants ENABLE ROW LEVEL SECURITY;

--
-- Name: visits; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.visits ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict wFkrenZZnghbt29GGA4zCfQN0lESbWOdOfmSPgiKEhpqLVxVvKkvtEvTFIqcHtP

